<h1>Create A Round</h1>

<%= form_tag new_round_questions_path do %>
    <%= label_tag :num_questions, "Number of Questions:" %>
    <%= select_tag :num_questions, options_for_select(@numbers) %>
    <%= submit_tag "Continue" %>
<% end %>