<h1>Create A Round</h1>

<% if @errors %>
    <ul>
    <% @errors.each do |error| %>
        <li><%= error %></li>
    <% end %>
    </ul>
<% end %>

<%= render partial: 'form', locals: {round: @round, current_user: @current_user} %>