<h1>Edit <%= @game.name %></h1>

<div class="round-delete">
    <button class="ui button"><%= link_to "Delete", game_path(@game), method: "delete" %></button>
</div>

<% if @errors %>
    <ul>
    <% @errors.each do |error| %>
        <li><%= error %></li>
    <% end %>
    </ul>
<% end %>

<%= render partial: 'form', locals: {game: @game, rounds: @rounds} %>

