<div class="header">
    <h1>Games</h1>

    <div class="games-create">
            <button class="ui button"><%= link_to "Create Game", new_game_path %></button>
        </div>
</div>

<div class="games-index">
    <div class="games-recent grid-cell">
        <h2 class="list-title">Most Recent:</h2>
            <ul>
            <% @recent.each do |game| %>
                <li><%= link_to game.name, game_path(game) %></li>
            <% end %>
            </ul>
        </div>
    <div class="games-played grid-cell">
        <h2 class="list-title">Most Played:</h2>
            <ul>
            <% @played.each do |game| %>
                <li><%= link_to game.name, game_path(game) %></li>
            <% end %>
            </ul>
        </div>
    <div class="games-all grid-cell all">
        <h2 class="list-title">All Games:</h2>
            <ul>
            <% @games.each do |game| %>
                <li><%= link_to game.name, game_path(game) %></li>
            <% end %>
            </ul>
        </div>
    </div>