/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



/* SITE WIDE */

 .user-links {
     float: right;
     margin-right: 30px;
     margin-top: 8px;
 }

 .user-link {
     padding: 5px;
 }

 .content {
    margin-top: 25px;
    margin-left: 50px;
 }

 h1 {
    font-size: 50px;
 }

 h2 {
     font-size: 30px;
 }

 li, p, label {
    font-size: 20px;
    line-height: 150%;
 }

 ul {
     list-style-type: none;
 }

 .round-questions {
     text-align: left;
     font-size: 25px;
     grid-area: questions;
 }

 .add-to-group {
     margin-top: 20px;
     display: block;
 }

.games-index {
    display: inline-grid;
    grid-template-columns: 300px 300px;
    grid-template-areas:
        "gplay grecent"
        "gall gall";
    grid-gap: 10px;
    margin-top: 20px;
}

.games-all {
    grid-area: gall;
}

.games-recent {
    grid-area: grecent;
    align-self: center;
}
.games-played {
    grid-area: gplay;
    align-self: center;
}

.rounds-index {
    display: inline-grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-areas:
        "rplay rrecent rsaved"
        "rall rall rall";
    grid-gap: 10px;
    margin-top: 20px;
}

.rounds-all {
    grid-area: rall;
}

.rounds-recent {
    grid-area: rrecent;
    align-self: center;
}
.rounds-played {
    grid-area: rplay;
    align-self: center;
}
.rounds-saved {
    grid-area: rsaved;
    align-self: center;
}

.user-show {
    display: inline-grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: auto;
    grid-template-areas:
        "groups groups"
        "games rounds"
        "played_g played_r";
    margin-top: 20px;
    grid-gap: 10px;
}

.user-info-link {
    font-size: 20px;
    padding: 10px;
}

.user-games {
    grid-area: games;
    border: solid 2px black;
}

.user-rounds {
    grid-area: rounds;
    border: solid 2px black;
}

.user-groups {
    grid-area: groups;
    border: solid 2px black;
}

.user-played-games {
    grid-area: played_g;
    border: solid 2px black;
}

.user-played-rounds {
    grid-area: played_r;
    border: solid 2px black;
}

.grid-cell {
    border: solid 2px black;
}

.submit {
    margin-top: 10px;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}

.title {
    
}

.create {
    
}

.header {
    float: left;
    display: block;
    margin-right: 50px;
}

.list-title {
    margin-left: 10px;
}

.all {
    text-align: center;
}

.games-show-grid {
    display: inline-grid;
    grid-template-columns: 350px 350px;
    grid-template-areas:
        "rounds scores";
    grid-gap: 10px;
}

.game-rounds {
    grid-area: rounds;
}

.high-scores {
    grid-area: scores;
}

.show-title {
    font-size: 27px;
}

.show-sub {
    margin-left: 10px;
}

.show-header {
    margin-top: 30px;
    margin-right: 60px;
}

.round-show {
    display: inline-grid;
    grid-template-columns: 600px;
    grid-template-areas:
        "questions"
        "scores";
    grid-gap: 50px;
}

.round-delete {
    margin: 20px;
    text-align: center;
}

.name{
    font-size: 30px;
    text-align: center;
}

.submit {
    font-size: 20px;
}

#new-round-group {
    margin-top: 8px;
}

.select-game-new {
    margin-left: 10px;
}

.answer-field {
    margin: 10px;
}